
    
项目logocoolfe/PersonalWiki  收藏 0   关注 0
A simple personal wiki of my current knowledge.
HTTPS  
https://git.coding.net/coolfe/PersonalWiki.git
2018 年 6 月后，项目将不区分公开和私有，但保留公开源代码选项，查看 功能变化和数据转换 帮助文档
          
 master
 PersonalWiki / .gitignore
452d200cf8   提交于 今天 11:58 @coolfe coolfe update
    
 file  322.00 bytes
# compiled output
/dist
/tmp
# IDEs and editors
.idea
.project
*.sublime-workspace
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Dependency directories
node_modules/
package-lock.json



