<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>vue_model(20180612)</title>
</head>

<body>
    <div id="form">
        <h1>single checkbox</h1>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <h1>checkbox Group</h1>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <p>Checked names: {{ checkedNames }}</p>
        <h1>input</h1>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <h1>radio</h1>
        <input type="radio" id="one" v-model="picked" value="one">
        <label for="one">one</label>
        <input type="radio" id="two" v-model="picked" value="two">
        <label for="two">two</label>
        <p>Checked names:{{ picked }}</p>
        <h1>select</h1>
        <select name="select" v-model="selected">
            <option value="" disabled>请选择</option>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
        </select>
        <p>selected: {{ selected }}</p>
        <h1>multiple select</h1>
        <select name="mulselect" multiple v-model="mulSelected">
            <option value="" disabled>请选择</option>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
        </select>
        <p>selected: {{ mulSelected }}</p>
        
        <h1>select Object</h1>
        <select name="object" v-model="objSelected" >
            <option v-bind:value="option.value" v-for="option in selectObject">{{ option.text }}</option>
        </select>
        <p>selected: {{ objSelected }}</p>
    </div>
    <script>
        new Vue({
            el: '#form',
            data: {
                message: '',
                checked: 'true',
                checkedNames: [],
                picked: '',
                selected: '',
                mulSelected: [],
                objSelected: [],
                selectObject: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ]
            }
        })
    </script>
</body>

</html>